@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=JetBrains+Mono:wght@400;700&display=swap");
@media all {
  html {
    font-size: 10px;
  }
  html._opened-menu, html._opened-modal {
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  html {
    height: 100%;
  }
}
@media all {
  body {
    font: 400 2rem/1.3 "Fira Sans", sans-serif;
    color: #2A2F36;
    overflow-x: hidden;
    background: #FFFFFF;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  body {
    min-height: 100%;
  }
}
@media all {
  body.compensate-for-scrollbar {
    margin-right: 0 !important;
  }
  ._opened-menu body, ._opened-modal body {
    overflow: hidden;
  }
  body *::-moz-selection {
    background: rgba(18, 192, 221, 0.3);
  }
  body *::selection {
    background: rgba(18, 192, 221, 0.3);
  }
  body *::-moz-selection {
    background: rgba(18, 192, 221, 0.3);
  }
}
.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
@media (min-width: 1770px) {
  .container {
    padding-left: 7.5rem;
    padding-right: 5.5rem;
  }
}

/* Header */
header {
  border-bottom: 1px solid #EDEDED;
}

.logo {
  width: 146px;
  height: 28.1px;
  padding-top: 0.4rem;
}
@media (min-width: 768px) {
  .logo {
    width: 208px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  .logo {
    width: 270px;
    height: 52px;
  }
}
.logo._footer {
  width: 210px;
  height: 40px;
  display: block;
  padding-left: 1.5rem;
}
@media (min-width: 1000px) {
  .logo._footer {
    width: 270px;
    height: 52px;
    padding: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 360px) {
  .header__items {
    gap: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .header__items {
    gap: 2rem;
  }
}
@media (min-width: 1150px) {
  .header__items {
    display: none;
  }
}
@media (max-width: 1151px) {
  .header__items._desc {
    display: none;
  }
}
@media (min-width: 1150px) {
  .header__items._desc {
    display: flex;
    gap: 5rem;
  }
}
.header__search {
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 1.1rem;
  cursor: pointer;
}
@media (min-width: 360px) {
  .header__search {
    width: 50px;
    height: 50px;
  }
}
.header__search img {
  width: 20px;
  height: 20px;
  background-position: center;
}
@media (min-width: 360px) {
  .header__search img {
    width: 24px;
    height: 24px;
  }
}
.header__menu {
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(/img/menu.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: #12C0DD;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
@media (min-width: 360px) {
  .header__menu {
    width: 50px;
    height: 50px;
  }
}
.header__socials {
  display: flex;
  gap: 2rem;
}
.header__link {
  font-size: 2.4rem;
  color: #2A2F36;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s;
}
.header__link:hover {
  color: #12C0DD;
}
.header__link::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: url(img/arrow.svg);
  background-size: contain;
}

.search-area {
  position: relative;
  width: 29.8vw;
}
.search-area__input {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem;
  border: 1px solid rgb(237, 237, 237);
  width: 100%;
}
.search-area__input::-moz-placeholder {
  color: #95A3B1;
}
.search-area__input::placeholder {
  color: #95A3B1;
}
.search-area__input:focus {
  outline: none;
  border: 1px solid #12C0DD;
}
.search-area__btn {
  position: absolute;
  right: 17px;
  top: calc(50% - 12.5px);
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

/* Main */
.main {
  margin: 3rem auto 0 auto;
}
.main__page {
  height: 500vh;
}
@media (min-width: 360px) {
  .main {
    margin: 5rem auto 0 auto;
  }
}
@media (min-width: 1000px) {
  .main {
    margin: 9.5rem auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .main {
    margin: 10.5rem auto 0 auto;
  }
}

.scroll-menu {
  height: 100%;
}
@media (min-width: 1150px) {
  .scroll-menu {
    display: flex;
    gap: 6.7rem;
  }
}
@media (min-width: 1340px) {
  .scroll-menu {
    gap: 9.7rem;
  }
}

.title {
  font-size: 2.7rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.96px;
  margin: 0;
}
@media (min-width: 360px) {
  .title {
    font-size: 3.2rem;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
}
@media (min-width: 1340px) {
  .title {
    font-size: 6.4rem;
    letter-spacing: 1.8px;
  }
}
.title > span {
  display: block;
  font-size: 1.45rem;
  padding-bottom: 3rem;
  letter-spacing: 0.48px;
  text-transform: lowercase;
}
@media (min-width: 360px) {
  .title > span {
    font-size: 1.6rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) {
  .title > span {
    font-size: 2.4rem;
    letter-spacing: 0.68px;
  }
}
@media (min-width: 1340px) {
  .title > span {
    font-size: 4.8rem;
    letter-spacing: 1.3px;
  }
}

/* Menu */
.menu {
  width: 204px;
  align-self: flex-start;
  position: sticky;
  top: 1.5rem;
}
@media (max-width: 1151px) {
  .menu {
    display: none;
  }
}
.menu__categories {
  font-size: 2.4rem;
  font-family: "JetBrains Mono", sans-serif;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.menu__categories a {
  text-decoration: none;
  color: #2A2F36;
  box-sizing: border-box;
  border: 1px solid #2A2F36;
  padding: 1.4rem 2.85rem;
  display: block;
  transition: 0.2s;
}
.menu__categories a:hover {
  color: #FFFFFF;
  background-color: #2A2F36;
}
.menu__categories li {
  margin-bottom: -1px;
}
.menu__categories li:last-child {
  margin-bottom: 0;
}

/* Articles */
@media (min-width: 1340px) {
  .article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 3rem;
  }
}
.article__item {
  padding-bottom: 2rem;
  margin-bottom: 2.7rem;
  border: 1px solid #EDEDED;
}
@media (min-width: 1000px) {
  .article__item {
    margin-bottom: 3.1rem;
  }
}
@media (min-width: 1340px) {
  .article__item {
    margin-bottom: 0;
  }
}
.article__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .article__thumb {
    height: 447px;
  }
}
.article__img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.article__about {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1000px) {
  .article__about {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.article__tag {
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid #12C0DD;
  padding: 3px 9px 2px 9px;
  letter-spacing: 0.48px;
}
.article__title {
  font-size: 1.8rem;
  font-family: "JetBrains Mono", sans-serif;
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 1000px) {
  .article__title {
    font-size: 2.4rem;
  }
}
.article__title a {
  text-decoration: none;
  color: #2A2F36;
  transition: 0.2s;
}
.article__title a:hover {
  color: #12C0DD;
}
@media (min-width: 1000px) {
  .article__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.article__footer {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #95A3B1;
  font-size: 1.35rem;
  gap: 1rem;
  margin-top: 1.9rem;
}
@media (min-width: 360px) {
  .article__footer {
    font-size: 1.6rem;
    gap: 2rem;
  }
}
@media (min-width: 1000px) {
  .article__footer {
    font-size: 2rem;
  }
}
.article__link {
  color: #12C0DD;
  transition: 0.2s;
}
.article__link:hover {
  text-decoration: none;
}
.article__views {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article__views::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(img/views.png);
  background-size: contain;
}
@media (min-width: 360px) {
  .article__views::before {
    width: 24px;
    height: 24px;
  }
}
.article__time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article__time::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(img/time.png);
  background-size: contain;
}
@media (min-width: 360px) {
  .article__time::before {
    width: 24px;
    height: 24px;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.author__info {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.author__name {
  margin: 0;
  padding-top: 0.4rem;
  font-size: 1.8rem;
}
@media (min-width: 1000px) {
  .author__name {
    font-size: 2rem;
  }
}
.author__date {
  color: #95A3B1;
  font-size: 1.6rem;
}
@media (min-width: 1000px) {
  .author__date {
    font-size: 1.8rem;
  }
}

/* Subscribe */
.subscribe {
  border: 1px solid #12C0DD;
  background-color: rgba(18, 192, 221, 0.05);
  padding: 3rem 1.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .subscribe {
    padding: 3rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__box {
    display: flex;
  }
}
.subscribe__title {
  font-size: 1.8rem;
  font-family: "JetBrains Mono", sans-serif;
  margin-top: 0;
  margin-bottom: 2.1rem;
  line-height: 1.2;
}
@media (min-width: 1000px) {
  .subscribe__title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__title {
    flex-basis: 40.5rem;
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .subscribe__area {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__area {
    flex-grow: 1;
    gap: 3rem;
  }
}
.subscribe__input {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  display: block;
  box-sizing: border-box;
  padding: 2rem 1.4rem;
  border: 1px solid rgb(237, 237, 237);
  width: 100%;
}
@media (min-width: 1000px) {
  .subscribe__input {
    padding: 1rem 1.4rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__input {
    font-size: 1.8rem;
  }
}
.subscribe__input::-moz-placeholder {
  color: #95A3B1;
}
.subscribe__input::placeholder {
  color: #95A3B1;
}
.subscribe__input:focus {
  outline: none;
  border: 1px solid #12C0DD;
}
.subscribe__input:invalid {
  border: 1px solid rgb(221, 91, 18);
}
.subscribe__btn {
  display: block;
  color: white;
  font-size: 1.4rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  background-color: #12C0DD;
  border: 1px solid #12C0DD;
  box-sizing: border-box;
  width: 100%;
  padding: 1.7rem;
  margin-top: 1.5rem;
}
@media (min-width: 1000px) {
  .subscribe__btn {
    max-width: 314px;
    margin: 0 !important;
  }
}
@media (min-width: 1500px) {
  .subscribe__btn {
    max-width: 281px;
    font-size: 1.8rem;
  }
}
.subscribe__agreement {
  color: #95A3B1;
  font-size: 1.4rem;
  font-family: "JetBrains Mono", sans-serif;
}
@media (min-width: 1000px) {
  .subscribe__agreement {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
}
.subscribe__agreement a {
  color: #12C0DD;
  transition: 0.2s;
}
.subscribe__agreement a:hover {
  text-decoration: none;
}
.subscribe__agreement p {
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1.2;
}
.subscribe._footer {
  padding: 5rem 3rem;
  margin-bottom: 0;
}
.subscribe._footer h2 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media (min-width: 1000px) {
  .subscribe._footer h2 {
    font-size: 1.8rem;
  }
}
.subscribe._footer button {
  margin-top: 2.3rem;
}
@media (min-width: 1000px) {
  .subscribe._footer button {
    max-width: 341px;
  }
}

/* Socials */
.social {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  -webkit-mask: center center/100% no-repeat;
          mask: center center/100% no-repeat;
  text-decoration: none;
  background: #2A2F36;
  transition: background-color 0.2s;
}
@media (min-width: 1000px) {
  .social {
    width: 3rem;
    height: 3rem;
  }
}
.social._yt {
  -webkit-mask-image: url(/img/yt.svg);
          mask-image: url(/img/yt.svg);
  background-size: 2.6rem;
}
.social._yt:hover {
  background: #F12509;
}
.social._vk {
  -webkit-mask-image: url(/img/vk.svg);
          mask-image: url(/img/vk.svg);
  background-size: 2.8rem;
}
.social._vk:hover {
  background: #0077FF;
}
.social._tg {
  -webkit-mask-image: url(/img/tg.svg);
          mask-image: url(/img/tg.svg);
  background-size: 2.45rem;
}
.social._tg:hover {
  background: #12C0DD;
}
.social._ig {
  -webkit-mask-image: url(/img/ig.svg);
          mask-image: url(/img/ig.svg);
  background-size: 2.63rem;
}
.social._ig:hover {
  background: fuchsia;
}

/* Footer */
footer {
  margin-top: 4.7rem;
}
@media (min-width: 1000px) {
  footer {
    margin-top: 11rem;
  }
}

.footer {
  border: 1px solid #EDEDED;
  padding-top: 2.4rem;
}
@media (min-width: 1000px) {
  .footer {
    padding-top: 1.2rem;
  }
}
.footer__socials {
  display: flex;
  justify-content: start;
  gap: 2.75rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1000px) {
  .footer__socials {
    gap: 3rem;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 1rem 2rem;
  }
}
.footer__menu {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding: 0.9rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 5rem 2rem;
    gap: 1%;
  }
}
@media (min-width: 768px) {
  .footer__courses {
    flex-basis: 50%;
  }
}
.footer__marathons {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__marathons {
    flex-basis: 50%;
    padding: 0;
  }
}
.footer__title {
  color: #2A2F36;
  font-size: 1.8rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 2rem;
  }
}
.footer__list a:last-child {
  margin-bottom: 0;
}
.footer__item {
  display: block;
  text-decoration: none;
  color: #95A3B1;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  .footer__item {
    letter-spacing: 0.96px;
    margin-bottom: 1.7rem;
  }
}
@media (min-width: 768px) {
  .footer__bottom {
    display: flex;
    padding-top: 0.5rem;
    letter-spacing: 0.96px;
  }
}
@media (min-width: 1770px) {
  .footer__bottom {
    padding-top: 0;
  }
}
.footer__rules {
  font-size: 1.4rem;
  color: #95A3B1;
  padding: 2rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__rules {
    flex-basis: 50%;
    padding: 3rem;
  }
}
@media (min-width: 1770px) {
  .footer__rules {
    border-right: 1px solid #EDEDED;
  }
}
.footer__rules span {
  display: block;
}
@media (min-width: 768px) {
  .footer__rules span {
    display: inline-block;
  }
}
.footer__rules a {
  display: block;
  color: #95A3B1;
  text-decoration: none;
  margin-top: 2rem;
}
.footer__dataset {
  font-size: 1.4rem;
  color: #95A3B1;
  padding: 0 1.5rem 2rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__dataset {
    flex-basis: 50%;
    padding: 5rem 3rem;
  }
}
.footer__dataset span {
  display: block;
  padding-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */