@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=JetBrains+Mono:wght@400;700&display=swap");
@media all {
  html {
    font-size: 10px;
  }
  html._opened-menu, html._opened-modal {
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  html {
    height: 100%;
  }
}
@media all {
  body {
    font: 400 2rem/1.3 "Fira Sans", sans-serif;
    color: #2A2F36;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #FFFFFF;
    margin: 0;
  }
  body::-webkit-scrollbar {
    width: 1rem;
    background-color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  body::-webkit-scrollbar {
    width: 1.4rem;
  }
}
@media all {
  body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgba(18, 192, 221, 0.8);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #12c0dd;
  }
  body::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  body {
    min-height: 100%;
  }
}
@media all {
  body.compensate-for-scrollbar {
    margin-right: 0 !important;
  }
  ._opened-menu body, ._opened-modal body {
    overflow: hidden;
  }
  body *::-moz-selection {
    background: rgba(18, 192, 221, 0.3);
  }
  body *::selection {
    background: rgba(18, 192, 221, 0.3);
  }
  body *::-moz-selection {
    background: rgba(18, 192, 221, 0.3);
  }
}
.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
@media (min-width: 1770px) {
  .container {
    padding-left: 7.5rem;
    padding-right: 6rem;
  }
}

.custom-cursor {
  position: fixed;
  box-sizing: border-box;
  top: -5px;
  left: -9px;
  z-index: 10000;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(42, 47, 54, 0);
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  transform: translate(-50%, -50%);
  mix-blend-mode: normal;
}

/* Header */
header {
  border-bottom: 1px solid #EDEDED;
}

.logo {
  width: 146px;
  height: 28.1px;
  padding-top: 0.4rem;
}
@media (min-width: 768px) {
  .logo {
    width: 208px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  .logo {
    width: 270px;
    height: 52px;
  }
}
.logo._footer {
  width: 210px;
  height: 40px;
  display: block;
  padding-left: 1.5rem;
  padding-top: 3rem;
}
@media (min-width: 1000px) {
  .logo._footer {
    width: 270px;
    height: 52px;
    padding: 0;
  }
}
@media (min-width: 1770px) {
  .logo._footer {
    padding: 4.7rem 0 5rem 7.5rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 1150px) {
  .header {
    padding-top: 2.65rem;
    padding-bottom: 2.4rem;
  }
}
.header__items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 360px) {
  .header__items {
    gap: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .header__items {
    gap: 2rem;
  }
}
@media (min-width: 1150px) {
  .header__items {
    display: none;
  }
}
@media (max-width: 1151px) {
  .header__items._desc {
    display: none;
  }
}
@media (min-width: 1150px) {
  .header__items._desc {
    display: flex;
    gap: 5rem;
  }
}
.header__search {
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 1rem;
  cursor: pointer;
}
@media (min-width: 360px) {
  .header__search {
    width: 50px;
    height: 50px;
  }
}
.header__search img {
  width: 16px;
  height: 16px;
  background-position: center;
}
@media (min-width: 360px) {
  .header__search img {
    width: 20px;
    height: 20px;
  }
}
.header__menu {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #12C0DD;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
@media (min-width: 360px) {
  .header__menu {
    width: 50px;
    height: 50px;
  }
}
.header__socials {
  display: flex;
  gap: 2rem;
}
.header__link {
  font-size: 2.4rem;
  color: #2A2F36;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s;
}
.header__link .fill {
  stroke: #2A2F36;
}
.header__link:hover {
  color: #12C0DD;
}
.header__link:hover .fill {
  stroke: #12C0DD;
}

.burger-btn {
  display: inline-block;
  padding: 0;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
@media (min-width: 360px) {
  .burger-btn {
    padding: 1rem;
  }
}
.burger-btn__block {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.burger-btn__inner {
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.burger-btn__inner, .burger-btn__inner::before, .burger-btn__inner::after {
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  background-color: #FFFFFF;
  border-radius: 1rem;
}
.burger-btn__inner::before, .burger-btn__inner::after {
  content: "";
  display: block;
}
.burger-btn__inner::before {
  top: -6px;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.burger-btn__inner::after {
  bottom: -6px;
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.burger-btn.is-active .burger-btn__inner {
  transform: rotate(45deg);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.12s;
}
.burger-btn.is-active .burger-btn__inner::before {
  top: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  opacity: 0;
}
.burger-btn.is-active .burger-btn__inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.search-area {
  position: relative;
  width: 29.8vw;
}
.search-area__input {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem;
  border: 1px solid rgb(237, 237, 237);
  width: 100%;
}
.search-area__input::-moz-placeholder {
  color: #95A3B1;
}
.search-area__input::placeholder {
  color: #95A3B1;
}
.search-area__input:focus {
  outline: none;
  border: 1px solid #12C0DD;
}
.search-area__btn {
  position: absolute;
  right: 22px;
  top: calc(50% - 8.5px);
  display: block;
  width: 17px;
  height: 18px;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

/* Main */
main {
  margin: 3rem auto 0 auto;
}
main .page {
  height: 100%;
}
main .page button {
  margin: 1.5rem auto 0;
}
@media (min-width: 360px) {
  main {
    margin: 5rem auto 0 auto;
  }
}
@media (min-width: 1000px) {
  main {
    margin: 9.5rem auto 0 auto;
  }
}
@media (min-width: 1200px) {
  main {
    margin: 10rem auto 0 auto;
  }
}

.page-title {
  margin-bottom: 3rem;
}
@media (min-width: 500px) {
  .page-title {
    margin-bottom: 5rem;
  }
}
@media (min-width: 768px) {
  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.scroll-menu {
  height: 100%;
}
.scroll-menu._post .menu {
  position: unset;
}
@media (min-width: 1150px) {
  .scroll-menu {
    display: flex;
    gap: 6.7rem;
  }
}
@media (min-width: 1340px) {
  .scroll-menu {
    gap: 9.7rem;
  }
}

.title {
  font-size: 2.7rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.96px;
  margin: 0;
}
@media (min-width: 360px) {
  .title {
    font-size: 3.2rem;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
}
@media (min-width: 1340px) {
  .title {
    font-size: 6.4rem;
    letter-spacing: 1.8px;
  }
}
.title > span {
  display: block;
  font-size: 1.45rem;
  padding-bottom: 3rem;
  letter-spacing: 0.48px;
  text-transform: lowercase;
}
@media (min-width: 360px) {
  .title > span {
    font-size: 1.6rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) {
  .title > span {
    font-size: 2.4rem;
    letter-spacing: 0.68px;
  }
}
@media (min-width: 1340px) {
  .title > span {
    font-size: 4.8rem;
    letter-spacing: 1.3px;
  }
}

/* Menu */
.menu {
  width: 204px;
  align-self: flex-start;
  position: sticky;
  top: 1.5rem;
}
@media (max-width: 1150px) {
  .menu {
    display: none;
  }
}
.menu__categories {
  font-size: 2.4rem;
  font-family: "JetBrains Mono", sans-serif;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.menu__categories a {
  text-decoration: none;
  color: #2A2F36;
  box-sizing: border-box;
  border: 1px solid #2A2F36;
  padding: 1.4rem 2.85rem;
  display: block;
  transition: 0.2s;
}
.menu__categories a:hover {
  color: #FFFFFF;
  background-color: #2A2F36;
}
.menu__categories a:active, .menu__categories a.active {
  color: #FFFFFF;
  background-color: #2A2F36;
}
.menu__categories li {
  margin-bottom: -1px;
}
@media (min-width: 1770px) {
  .menu__categories li {
    margin-top: -1px;
  }
}
.menu__categories li:last-child {
  margin-bottom: 0;
}

/* Articles */
.article-nav {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding: 3rem 0;
  margin: 3rem 0 5rem;
}
@media (min-width: 1000px) {
  .article-nav {
    padding: 3rem 0 2.5rem;
    margin: 3rem 0 9rem;
  }
}
@media (min-width: 1150px) {
  .article-nav {
    display: none;
  }
}
.article-nav__title {
  font-size: 2.4rem !important;
  font-family: "Fira Sans", sans-serif !important;
  text-transform: none !important;
  margin: 0 0 3rem !important;
}
@media (min-width: 1000px) {
  .article-nav__title {
    letter-spacing: normal !important;
  }
}
.article-nav__list {
  list-style-type: none;
  font-weight: 500;
  padding-left: 0;
  margin: 0;
}
@media (min-width: 1000px) {
  .article-nav__list {
    font-size: 2.4rem;
  }
}
.article-nav__list li + li {
  margin-bottom: 2rem;
}
.article-nav__list li:last-child {
  margin-bottom: 0;
}
.article-nav ul > li > a {
  color: #2A2F36;
  text-decoration: none;
  transition: 0.2s;
}
.article-nav ul > li > a:hover {
  color: #12C0DD;
}
.article-nav li > ul {
  list-style-type: none;
  padding-left: 2rem;
  margin: 2rem 0;
}
.article-nav li > ul li {
  margin-bottom: 1rem;
}
.article-nav li > ul li + li {
  margin-bottom: 1rem;
}
.article-nav li > ul a {
  font-weight: normal;
}

@media (min-width: 1340px) {
  .article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 3rem;
  }
}
.article__item {
  padding-bottom: 2rem;
  margin-bottom: 2.7rem;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
}
@media (min-width: 1000px) {
  .article__item {
    margin-bottom: 3.1rem;
  }
}
@media (min-width: 1340px) {
  .article__item {
    margin-bottom: 0;
  }
}
.article__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .article__thumb {
    height: 447px;
  }
}
.article__img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.article__about {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1000px) {
  .article__about {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.article__category {
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid #12C0DD;
  padding: 3px 9px 2px 9px;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #2A2F36;
}
@media (min-width: 1000px) {
  .article__category {
    letter-spacing: 0.08rem;
  }
}
.article__tag {
  font-family: "JetBrains Mono", sans-serif;
  color: #12C0DD;
  font-size: 1.6rem;
  margin-left: 1rem;
  text-decoration: none;
}
@media (min-width: 768px) {
  .article__tag {
    font-size: 1.8rem;
  }
}
.article__title {
  font-size: 1.8rem;
  font-family: "JetBrains Mono", sans-serif;
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 1000px) {
  .article__title {
    font-size: 2.4rem;
  }
}
.article__title a {
  text-decoration: none;
  color: #2A2F36;
  transition: 0.2s;
}
.article__title a:hover {
  color: #12C0DD;
}
@media (min-width: 1000px) {
  .article__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.article__footer {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #95A3B1;
  font-size: 1.35rem;
  gap: 1rem;
  margin-top: 1.9rem;
}
@media (min-width: 360px) {
  .article__footer {
    font-size: 1.6rem;
    gap: 2rem;
  }
}
@media (min-width: 1000px) {
  .article__footer {
    font-size: 2rem;
  }
}
.article__link {
  color: #12C0DD;
  transition: 0.2s;
}
.article__link:hover {
  text-decoration: none;
}
.article__comment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article__comment::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(../img/comment.png);
  background-size: contain;
}
@media (min-width: 360px) {
  .article__comment::before {
    width: 24px;
    height: 24px;
  }
}
.article__views {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article__views::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(../img/views.png);
  background-size: contain;
}
@media (min-width: 360px) {
  .article__views::before {
    width: 24px;
    height: 24px;
  }
}
.article__time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article__time::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(../img/time.png);
  background-size: contain;
}
@media (min-width: 360px) {
  .article__time::before {
    width: 24px;
    height: 24px;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.author__info {
  font-family: "Fira Sans", sans-serif;
}
.author__name {
  margin: 0;
  padding-top: 0.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
.author__name a {
  text-decoration: none;
  color: #2A2F36;
}
@media (min-width: 1000px) {
  .author__name {
    font-size: 2rem;
  }
}
.author__date {
  color: #95A3B1;
  font-size: 1.6rem;
}
@media (min-width: 1000px) {
  .author__date {
    font-size: 1.8rem;
  }
}

/* Subscribe */
.subscribe {
  border: 1px solid #12C0DD;
  background-color: rgba(18, 192, 221, 0.05);
  padding: 3rem 1.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .subscribe {
    padding: 3rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__box {
    display: flex;
  }
}
.subscribe__title {
  font-size: 1.8rem;
  font-family: "JetBrains Mono", sans-serif;
  margin-top: 0;
  margin-bottom: 2.1rem;
  line-height: 1.2;
}
@media (min-width: 1000px) {
  .subscribe__title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__title {
    flex-basis: 40.5rem;
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .subscribe__area {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__area {
    flex-grow: 1;
    gap: 3rem;
  }
}
.subscribe__input {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  display: block;
  box-sizing: border-box;
  padding: 2rem 1.4rem;
  border: 1px solid rgb(237, 237, 237);
  width: 100%;
}
@media (min-width: 1000px) {
  .subscribe__input {
    padding: 1rem 1.4rem;
  }
}
@media (min-width: 1500px) {
  .subscribe__input {
    font-size: 1.8rem;
  }
}
.subscribe__input::-moz-placeholder {
  color: #95A3B1;
}
.subscribe__input::placeholder {
  color: #95A3B1;
}
.subscribe__input:focus {
  outline: none;
  border: 1px solid #12C0DD;
}
.subscribe__input:invalid {
  border: 1px solid rgb(221, 91, 18);
}
.subscribe__agreement {
  color: #95A3B1;
  font-size: 1.4rem;
  font-family: "JetBrains Mono", sans-serif;
}
@media (min-width: 1000px) {
  .subscribe__agreement {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
}
.subscribe__agreement a {
  color: #12C0DD;
  transition: 0.2s;
}
.subscribe__agreement a:hover {
  text-decoration: none;
}
.subscribe__agreement p {
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1.2;
}
.subscribe._footer {
  padding: 5rem 3rem;
  margin-bottom: 0;
}
@media (min-width: 1770px) {
  .subscribe._footer {
    margin-right: 5.5rem;
    padding: 5rem 3rem 2rem;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 1770px) {
  .subscribe._footer .subscribe__area {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
  }
}
@media (min-width: 1770px) {
  .subscribe._footer .subscribe__input {
    padding: 1.5rem 1.4rem;
  }
}
.subscribe._footer h2 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media (min-width: 1000px) {
  .subscribe._footer h2 {
    font-size: 1.8rem;
  }
}
.subscribe._footer .button {
  margin-top: 2.3rem;
}
@media (min-width: 1000px) {
  .subscribe._footer .button {
    max-width: 341px;
  }
}
@media (min-width: 1770px) {
  .subscribe._footer .button {
    max-width: 100%;
  }
}

/* Button */
.button {
  display: block;
  color: white;
  font-size: 1.4rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  background-color: #12C0DD;
  border: 1px solid #12C0DD;
  box-sizing: border-box;
  width: 100%;
  padding: 1.7rem;
  margin-top: 1.5rem;
}
@media (min-width: 1000px) {
  .button {
    max-width: 314px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .button {
    max-width: 281px;
    font-size: 1.8rem;
  }
}

/* Socials */
.social {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  -webkit-mask: center center/100% no-repeat;
          mask: center center/100% no-repeat;
  text-decoration: none;
  background: #2A2F36;
  transition: background-color 0.2s;
}
@media (min-width: 1000px) {
  .social {
    width: 3rem;
    height: 3rem;
  }
}
.social._yt {
  -webkit-mask-image: url(/img/yt.svg);
          mask-image: url(/img/yt.svg);
  background-size: 2.6rem;
}
.social._yt:hover {
  background: #F12509;
}
.social._vk {
  -webkit-mask-image: url(/img/vk.svg);
          mask-image: url(/img/vk.svg);
  background-size: 2.8rem;
}
.social._vk:hover {
  background: #0077FF;
}
.social._tg {
  -webkit-mask-image: url(/img/tg.svg);
          mask-image: url(/img/tg.svg);
  background-size: 2.45rem;
}
.social._tg:hover {
  background: #12C0DD;
}
.social._ig {
  -webkit-mask-image: url(/img/ig.svg);
          mask-image: url(/img/ig.svg);
  background-size: 2.63rem;
}
.social._ig:hover {
  background: fuchsia;
}

/* Footer */
footer {
  margin-top: 4.7rem;
}
@media (min-width: 1000px) {
  footer {
    margin-top: 11rem;
  }
}

.footer {
  border: 1px solid #EDEDED;
  border-top: none;
  padding-top: 2.4rem;
}
@media (min-width: 1000px) {
  .footer {
    padding-top: 1.2rem;
  }
}
@media (min-width: 1770px) {
  .footer {
    padding: 0;
  }
}
.footer__socials {
  display: flex;
  justify-content: start;
  gap: 2.75rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1000px) {
  .footer__socials {
    gap: 3rem;
    padding: 0;
  }
}
@media (min-width: 1770px) {
  .footer__socials {
    margin: 0 0 -1px 0;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    align-items: center;
    justify-content: center;
    padding-right: 7.5rem;
  }
}
@media (min-width: 768px) {
  .footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 1rem 2rem;
  }
}
.footer__menu {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding: 0.9rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 5rem 2rem;
    gap: 1%;
  }
}
@media (min-width: 1770px) {
  .footer__menu {
    padding: 3rem 2rem 3rem 7.5rem;
  }
}
@media (min-width: 768px) {
  .footer__courses {
    flex-basis: 50%;
  }
}
@media (min-width: 1770px) {
  .footer__courses .footer__list {
    gap: 0 6.7rem;
  }
}
.footer__marathons {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__marathons {
    flex-basis: 50%;
    padding: 0;
  }
}
.footer__title {
  color: #2A2F36;
  font-size: 1.8rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1770px) {
  .footer__title {
    margin-bottom: 5rem;
  }
}
.footer__list a:last-child {
  margin-bottom: 0;
}
@media (min-width: 1770px) {
  .footer__list {
    display: grid;
    grid-template-columns: 25rem 1fr;
  }
}
.footer__item {
  display: block;
  text-decoration: none;
  color: #95A3B1;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  .footer__item {
    letter-spacing: 0.96px;
    margin-bottom: 1.7rem;
  }
}
@media (min-width: 768px) {
  .footer__bottom {
    display: flex;
    padding-top: 0.5rem;
    letter-spacing: 0.96px;
  }
}
@media (min-width: 1770px) {
  .footer__bottom {
    padding-top: 0;
  }
}
.footer__rules {
  font-size: 1.4rem;
  color: #95A3B1;
  padding: 2rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__rules {
    flex-basis: 50%;
    padding: 3rem;
  }
}
@media (min-width: 1770px) {
  .footer__rules {
    font-size: 1.6rem;
    border-right: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    padding: 3.2rem 0 5rem 7.5rem;
    gap: 9.8vw;
  }
}
.footer__rules span {
  display: block;
}
@media (min-width: 768px) {
  .footer__rules span {
    display: inline-block;
  }
}
.footer__rules a {
  display: block;
  color: #95A3B1;
  text-decoration: none;
  margin-top: 2rem;
}
@media (min-width: 1770px) {
  .footer__rules a {
    margin-top: 0;
  }
}
.footer__dataset {
  font-size: 1.4rem;
  color: #95A3B1;
  padding: 0 1.5rem 2rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__dataset {
    flex-basis: 50%;
    padding: 5rem 3rem;
  }
}
@media (min-width: 1770px) {
  .footer__dataset {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2.5vw;
    padding: 3.2rem 5.5rem 5rem 4rem;
    margin-top: -1px;
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
  }
}
.footer__dataset span {
  display: block;
  padding-bottom: 2rem;
}
@media (min-width: 1770px) {
  .footer__dataset span {
    padding: 0;
  }
}
@media (min-width: 1770px) {
  .footer._main {
    display: none;
  }
}
.footer._desk {
  display: grid;
  grid-template-columns: 1fr 50.5rem;
  border-top: 1px solid #EDEDED;
}
@media (max-width: 1770px) {
  .footer._desk {
    display: none;
  }
}

/* Tag and Category */
.tag__list {
  list-style-type: none;
  padding-left: 0;
  margin: 3rem 0 5rem;
}
@media (min-width: 768px) {
  .tag__list {
    margin: 0 -1rem 0 0;
  }
}

.tag-swiper__link {
  display: block;
  font-size: 2rem;
  color: #2A2F36;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #2A2F36;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .tag-swiper__link {
    padding: 0.8rem;
  }
}
@media (min-width: 1000px) {
  .tag-swiper__link {
    padding: 1rem;
  }
}
@media (min-width: 1770px) {
  .tag-swiper__link {
    padding: 1.5rem 3rem;
  }
}
.tag-swiper__link:hover {
  color: #FFFFFF;
  background-color: #12C0DD;
  border: 1px solid #12C0DD;
}
.tag-swiper__link:active, .tag-swiper__link.active {
  color: #FFFFFF;
  background-color: #12C0DD;
  border: 1px solid #12C0DD;
  order: -999;
  margin-right: 1rem !important;
}

.swiper-wrapper {
  display: flex;
}

/* Search */
.search__result {
  margin: 3rem 0 3rem;
}
@media (min-width: 768px) {
  .search__result {
    font-size: 2.6rem;
    margin: 3rem 0 5rem;
  }
}

/* Post */
@media (min-width: 1150px) {
  .post.page {
    width: 72.5vw;
  }
}
@media (min-width: 1770px) {
  .post.page {
    width: 76.5vw;
  }
}
@media (min-width: 1340px) {
  .post .article {
    display: block;
  }
}
@media (min-width: 1150px) {
  .post__sticky {
    display: flex;
    gap: 7rem;
    padding: 5rem 3rem 0 3rem;
    border: 1px solid #EDEDED;
    margin-bottom: 10rem;
  }
}
.post__scroll {
  flex-basis: fit-content;
}
.post__nav {
  align-self: flex-start;
  position: sticky;
  top: 1.5rem;
  padding-bottom: 5rem;
}
@media (min-width: 320px) {
  .post__nav .article-nav {
    display: none;
  }
}
@media (min-width: 1150px) {
  .post__nav .article-nav {
    display: block;
    margin: 0;
    padding: 0;
    width: 37.1rem;
    border: none;
  }
}
.post__nav .article-nav li > ul {
  border-left: 1px solid #EDEDED;
}
.post__categories {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .post__categories {
    justify-content: flex-start;
    gap: 1rem;
  }
}
.post__body p {
  line-height: 1.5;
  margin: 3.1rem 0;
}
@media (min-width: 1150px) {
  .post__body p {
    font-size: 2.6rem;
  }
}
.post__body a {
  color: #12C0DD;
  transition: 0.2s;
}
.post__body a:hover {
  text-decoration: none;
}
.post__body figure {
  margin: 0 auto;
}
.post__body figure img {
  height: auto;
  width: 100%;
}
.post__body ul, .post__body ol {
  padding-left: 0;
  list-style-type: none;
  margin: 3rem 0;
}
@media (min-width: 1150px) {
  .post__body ul, .post__body ol {
    font-size: 2.6rem;
  }
}
.post__body ul > li + li, .post__body ol li + li {
  margin-top: 0;
}
.post__body ul > li, .post__body ol > li {
  position: relative;
  padding-left: 2.3rem;
  line-height: 1.5;
}
.post__body ul > li::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #12C0DD;
  position: absolute;
  top: 0.9rem;
  left: 0;
}
@media (min-width: 1770px) {
  .post__body ul > li::before {
    top: 1.5rem;
    left: -2px;
  }
}
.post__body ol {
  counter-reset: item;
}
.post__body ol > li::before {
  content: counter(item) ".";
  counter-increment: item;
  color: #12C0DD;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 0;
}
@media (min-width: 1770px) {
  .post__body ol > li::before {
    top: 1rem;
    left: -2px;
  }
}
.post__body blockquote {
  margin: 0;
  padding: 3rem;
  border-left: 1px solid #12C0DD;
  display: flex;
  gap: 1rem;
  line-height: 1.4;
}
@media (min-width: 1000px) {
  .post__body blockquote {
    gap: 1.5rem;
  }
}
@media (min-width: 1150px) {
  .post__body blockquote {
    font-size: 2.6rem;
  }
}
.post__body blockquote::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 5rem;
  height: 24px;
  background-image: url(../img/quote.png);
  background-size: cover;
}
@media (min-width: 400px) {
  .post__body blockquote::before {
    width: 24px;
    background-size: contain;
  }
}
@media (min-width: 1000px) {
  .post__body blockquote::before {
    flex-basis: 2rem;
    background-size: cover;
  }
}
.post__video {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 3.2rem;
  height: 0;
  overflow: hidden;
}
.post__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-article__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  margin: 5rem 0;
}
@media (min-width: 1150px) {
  .main-article__thumb {
    height: 25vw;
  }
}
@media (min-width: 1770px) {
  .main-article__thumb {
    height: 29.75vw;
  }
}
.main-article .title {
  line-height: 1.2;
}
@media (min-width: 1000px) {
  .main-article .title {
    line-height: 1.1;
    font-size: 4.8rem;
    letter-spacing: 0.14rem;
  }
}
.main-article .article__about {
  padding: 0;
  margin: 5rem 0;
}
.main-article .article__info {
  margin-top: 3rem;
}
@media (min-width: 1000px) {
  .main-article .article__info {
    align-items: end;
  }
}
.main-article .author__name {
  padding: 0;
  margin: 0;
  font-size: 2rem !important;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
.main-article .author__date {
  font-size: 1.8rem;
}
.main-article .article__footer {
  margin-top: 1rem;
  gap: 2rem;
  font-size: 2rem;
}
.main-article h2, .main-article h3, .main-article h4 {
  font-family: "JetBrains Mono", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.main-article h2 {
  font-size: 2.4rem;
  margin: 4.75rem 0 0;
}
@media (min-width: 1150px) {
  .main-article h2 {
    font-size: 3.2rem;
  }
}
.main-article h3 {
  font-size: 2rem;
  margin: 3.1rem 0 0;
}
@media (min-width: 1150px) {
  .main-article h3 {
    font-size: 2.4rem;
  }
}
.main-article h4 {
  font-size: 1.8rem;
  margin: 3.5rem 0 0;
}
@media (min-width: 1150px) {
  .main-article h4 {
    font-size: 2rem;
  }
}

.student {
  padding: 2rem;
  margin: 3rem 0;
  border: 1px solid #12C0DD;
  background-color: rgba(18, 192, 221, 0.05);
}
@media (min-width: 1150px) {
  .student {
    padding: 3rem;
    margin: 5rem 0;
    font-size: 2.6rem;
  }
}

.advice {
  border: 1px solid #12C0DD;
  background-color: rgba(18, 192, 221, 0.05);
  padding: 3rem 1.5rem 2.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .advice {
    padding: 3rem 3rem 2rem;
    display: flex;
  }
}
@media (min-width: 1770px) {
  .advice {
    padding: 3rem 3rem 0;
  }
}
.advice__title {
  font-size: 2rem !important;
  font-family: "JetBrains Mono", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  margin: 0 !important;
}
@media (min-width: 1150px) {
  .advice__title {
    font-size: 2.4rem !important;
  }
}
.advice p {
  margin: 3rem 0;
}

.socials {
  border: 1px solid #12C0DD;
  background-color: rgba(18, 192, 221, 0.05);
  padding: 1.5rem;
  margin: 5rem 0;
}
@media (min-width: 1000px) {
  .socials {
    padding: 3rem;
  }
}
.socials__title {
  font-size: 2rem;
  font-family: "JetBrains Mono", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  margin: 0;
  line-height: 1.5;
}
@media (min-width: 1150px) {
  .socials__title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1770px) {
  .socials__title {
    letter-spacing: 0.065rem;
  }
}
.socials__list {
  margin: 3rem 0 0;
}
@media (min-width: 1000px) {
  .socials__list {
    display: flex;
    gap: 3rem;
  }
}
@media (min-width: 1150px) {
  .socials__list {
    font-size: 2.4rem;
  }
}
.socials__list a {
  color: #12C0DD;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.2s;
}
.socials__list a svg {
  fill: #2A2F36;
}
.socials__list a:hover {
  text-decoration: none;
}
.socials__list a + a {
  margin-top: 3rem;
}
@media (min-width: 1000px) {
  .socials__list a + a {
    margin-top: 0;
  }
}
.socials__yt:hover .fill {
  fill: #F12509;
}
.socials__vk:hover .fill {
  fill: #0077FF;
}
.socials__tg:hover .fill {
  fill: #12C0DD;
}

.comments-form {
  border: 1px solid #EDEDED;
  padding: 2rem;
  margin-bottom: 5rem;
}
@media (min-width: 1000px) {
  .comments-form {
    padding: 3rem;
    margin: 9rem 0;
  }
}
@media (min-width: 1150px) {
  .comments-form {
    margin: 10rem 0;
  }
}
@media (min-width: 1770px) {
  .comments-form {
    padding: 5rem;
  }
}
@media (min-width: 1150px) {
  .comments-form__areas {
    display: flex;
    gap: 3rem;
  }
}
.comments-form__inputs {
  flex-grow: 1;
}
.comments-form__textarea, .comments-form__input {
  padding: 2rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.8rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #EDEDED;
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .comments-form__textarea, .comments-form__input {
    padding: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1150px) {
  .comments-form__textarea, .comments-form__input {
    font-size: 2rem;
  }
}
.comments-form__textarea::-moz-placeholder, .comments-form__input::-moz-placeholder {
  color: #95A3B1;
}
.comments-form__textarea::placeholder, .comments-form__input::placeholder {
  color: #95A3B1;
}
.comments-form__textarea:focus, .comments-form__input:focus {
  outline: none;
  border: 1px solid #12C0DD;
}
.comments-form__textarea {
  min-height: 20.2rem;
  resize: none;
}
@media (min-width: 1150px) {
  .comments-form__textarea {
    flex-basis: 60rem;
  }
}
@media (min-width: 1000px) {
  .comments-form .button {
    width: 30.7rem;
  }
}
@media (min-width: 1150px) {
  .comments-form .button {
    font-size: 1.8rem;
  }
}
.comments-form .button a {
  color: #FFFFFF;
  text-decoration: none;
}

.comments__title {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  margin-bottom: 3rem;
}
@media (min-width: 1150px) {
  .comments__title {
    font-size: 3.2rem;
  }
}
.comments .author__name {
  padding: 0;
  font-size: 2rem;
}
.comments .author__date {
  font-size: 1.8rem;
}
.comments__item {
  border: 1px solid #EDEDED;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .comments__item {
    padding: 3rem;
  }
}
.comments__item p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.1rem;
}
@media (min-width: 1150px) {
  .comments__item p {
    font-size: 2.6rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .comments__item.answer {
    margin-left: 7rem;
  }
}
@media (min-width: 1770px) {
  .comments__item.answer {
    margin-left: 5rem;
  }
}
.comments__item:last-child {
  margin-bottom: 0;
}
.comments__functions {
  font-size: 1.6rem;
  display: flex;
}
@media (min-width: 1150px) {
  .comments__functions {
    font-size: 2rem;
  }
}
.comments__functions._close-comments {
  justify-content: space-between;
  align-items: center;
}
.comments__functions._open-comments {
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1000px) {
  .comments__functions._open-comments {
    flex-direction: inherit;
    justify-content: space-between;
  }
}
.comments__functions a {
  color: #95A3B1;
  text-decoration: none;
}
.comments__functions .replay {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comments__functions .replay::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/replay.png);
  background-size: contain;
}
.comments__functions .close-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comments__functions .close-btn::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/chevron-up.png);
  background-size: contain;
}
.comments__functions .open-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comments__functions .open-btn::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/chevron-down.png);
  background-size: contain;
}

/* Swiper */
.recommend-swiper__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.recommend-swiper__head h2 {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  margin: 0;
}
@media (min-width: 1150px) {
  .recommend-swiper__head h2 {
    font-size: 3.2rem;
  }
}
.recommend-swiper__nav {
  position: relative;
  width: 4rem;
  height: 3.1rem;
}
.recommend-swiper__next, .recommend-swiper__prev {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  margin: 0;
}
.recommend-swiper__prev {
  left: -3.5rem;
}
.recommend-swiper__next::before, .recommend-swiper__prev::before {
  content: "";
  background-image: url(../img/prev.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 3rem;
  height: 3rem;
}
.recommend-swiper__next::before {
  transform: rotate(180deg);
}
.recommend-swiper .swiper-wrapper {
  max-height: 94rem;
}
.recommend-swiper__item {
  height: auto;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .recommend-swiper__item {
    flex-basis: inherit;
  }
}
@media (min-width: 1000px) {
  .recommend-swiper .article__info {
    display: block;
  }
}
@media (min-width: 1150px) {
  .recommend-swiper .article__info {
    display: flex;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

/* Overlay Menu and Search */
.overlay {
  position: absolute;
  background-color: #FFFFFF;
  top: 9.1rem;
  right: -100%;
  width: 100%;
  opacity: 0;
  box-shadow: none;
  transition: all 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.overlay.active {
  right: 0;
  opacity: 1;
  box-shadow: 0 0.9rem 1.9rem rgba(42, 47, 54, 0.2);
}
.overlay._search {
  top: 0;
}
@media (min-width: 1150px) {
  .overlay {
    display: none;
  }
}

.modal {
  padding: 5rem 2rem;
}
@media (min-width: 768px) {
  .modal {
    padding: 10rem 5rem;
    border-left: 1px solid #EDEDED;
    max-width: 27.5rem;
    margin-left: auto;
  }
}
.modal__nav {
  padding-left: 0;
  list-style-type: none;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 5rem;
}
.modal__nav li > a {
  text-decoration: none;
  color: #2A2F36;
  transition: 0.2s;
}
.modal__nav li > a:hover {
  color: #12C0DD;
}
.modal__nav li {
  margin-bottom: 3rem;
}
.modal__nav li:last-child {
  margin-bottom: 0;
}

.modal-search {
  padding: 1.75rem;
}
@media (min-width: 1000px) {
  .modal-search {
    padding: 2.45rem;
  }
}
.modal-search .search-area {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.modal-search .search-area__btn {
  right: 55px;
}
.modal-search .search-area__close {
  cursor: pointer;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  display: block;
  width: 20px;
  height: 20px;
}

/* Error 404 */
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #12C0DD;
  background-color: rgba(18, 192, 221, 0.05);
  padding: 3rem;
  margin: auto 0;
}
@media (min-width: 768px) {
  .error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
  }
}
@media (min-width: 768px) {
  .error__text {
    width: 39vw;
  }
}
.error h1 {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.96px;
  margin: 0 0 3rem;
}
@media (min-width: 768px) {
  .error h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1150px) {
  .error h1 {
    font-size: 4.8rem;
  }
}
.error p {
  margin: 0;
}
@media (min-width: 768px) {
  .error p {
    font-size: 2.4rem;
  }
}
@media (min-width: 1770px) {
  .error p {
    font-size: 2.6rem;
  }
}
.error a {
  display: block;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.42px;
  background-color: #12C0DD;
  border: 1px solid #12C0DD;
  box-sizing: border-box;
  max-width: 34.7rem;
  padding: 1.7rem;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .error a {
    font-size: 1.6rem;
  }
}
@media (min-width: 1770px) {
  .error a {
    font-size: 1.8rem;
  }
}
.error__img {
  margin: 3rem auto 0;
}
@media (min-width: 768px) {
  .error__img {
    margin: 0;
  }
}
.error img {
  width: 74vw;
  height: auto;
}
@media (min-width: 768px) {
  .error img {
    max-width: 33.4rem;
  }
}/*# sourceMappingURL=main.css.map */