@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=JetBrains+Mono:wght@400;700&display=swap');

$dark: #2A2F36;
$light: #FFFFFF;
$accent: #12C0DD;
$line: #EDEDED;
$light-text: #95A3B1;

$font-fira: 'Fira Sans', sans-serif;
$font-jet: 'JetBrains Mono', sans-serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_desk: 1000px; // 1024
$r_desk_1150: 1150px;
$r_desk_hd: 1200px; // 1280
$r_desk_wxga: 1340px; // 1366
$r_desk_wxga_xxl: 1500px;
$r_desk_full: 1600px;
$r_desk_full_over: 1680px;
$r_desk_fhd: 1770px; // 1920
$r_desk_2k: 2480px; // 2560
$r_desk_4k: 3760px; // 3840

@media all {
    html {
        font-size: 10px;
        &._opened-menu,
        &._opened-modal {
            overflow: hidden;
        }
        @media (min-width: $r_desk_hd) {
            height: 100%;
        }
    }
    body {
        font: 400 2rem/1.3 $font-fira;
        color: $dark;
        overflow-x: hidden;
        overflow-y: scroll;
        background: $light;
        margin: 0;
        &::-webkit-scrollbar {
            width: 1rem;
            background-color: $light;
            @media (min-width: $r_tab) {
                width: 1.4rem;
            }
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: rgba($accent, .8);
            transition: .2s;
            &:hover {
                background-color: rgba($accent, 1);
            }
        }
        &::-webkit-scrollbar-track {
            border-radius: 1rem;
            background-color: transparent;
        }
        @media (min-width: $r_desk_hd) {
            min-height: 100%;
        }
        &.compensate-for-scrollbar {
            margin-right: 0 !important;
        }
        ._opened-menu &,
        ._opened-modal & {
            overflow: hidden;
        }
        *::selection {
            background: rgba($accent, 0.3);
        }
        *::-moz-selection {
            background: rgba($accent, 0.3);
        }
    }
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    @media (min-width: $r_desk_fhd) {
        padding-left: 7.5rem;
        padding-right: 6rem;
    }
}

/* Header */

header {
    border-bottom: 1px solid $line;
}

.logo {
    width: 146px;
    height: 28.1px;
    padding-top: .4rem;
    @media (min-width: $r_tab) {
        width: 208px;
        height: 40px;
    }
    @media (min-width: $r_desk) {
        width: 270px;
        height: 52px;
    }
    &._footer {
        width: 210px;
        height: 40px;
        display: block;
        padding-left: 1.5rem;
        padding-top: 3rem;
        @media (min-width: $r_desk) {
            width: 270px;
            height: 52px;
            padding: 0;
        }
        @media (min-width: $r_desk_fhd) {
            padding: 4.7rem 0 5rem 7.5rem;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media (min-width: $r_desk_1150) {
        padding-top: 2.65rem;
        padding-bottom: 2.4rem;
    }
    &__items {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media (min-width: $r_mob_360) {
            gap: 1.5rem;
        }
        @media (min-width: $r_desk) {
            gap: 2rem;
        }
        @media (min-width: $r_desk_1150) {
            display: none;
        }
        &._desc {
            @media (max-width: 1151px) {
                display: none;
            }
            @media (min-width: $r_desk_1150) {
                display: flex;
                gap: 5rem;
            }
        }
    }
    &__search {
        border: 1px solid $line;
        background-color: $light;
        border-radius: 100%;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        padding: 1rem;
        cursor: pointer;
        @media (min-width: $r_mob_360) {
            width: 50px;
            height: 50px;
        }
    }
    &__search img {
        width: 16px;
        height: 16px;
        background-position: center;
        @media (min-width: $r_mob_360) {
            width: 20px;
            height: 20px;
        }
    }
    &__menu {
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: $accent;
        border-radius: 100%;
        border: none;
        cursor: pointer;
        @media (min-width: $r_mob_360) {
            width: 50px;
            height: 50px;
        }
    }
    &__socials {
        display: flex;
        gap: 2rem;
    }
    &__link {
        font-size: 2.4rem;
        color: $dark;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .5rem;
        transition: .2s;
        & .fill {
            stroke: $dark;
        }
        &:hover {
            color: $accent;
            & .fill {
                stroke: $accent;
            }
        }
    }
}

.burger-btn {
    display: inline-block;
    padding: 0;
    transition-property: opacity, filter;
    transition-duration: .2s;
    transition-timing-function: linear;
    @media (min-width: $r_mob_360) {
        padding: 1rem;
    }
    &__block {
        display: inline-block;
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
    }
    &__inner {
        top: 50%;
        left: .2rem;
        transform: translateY(-50%);
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        &, &::before, &::after {
            position: absolute;
            width: 2rem;
            height: .2rem;
            transition-property: transform;
            transition-duration: .2s;
            transition-timing-function: ease;
            background-color: $light;
            border-radius: 1rem;
        }
        &::before, &::after {
            content: "";
            display: block;
        }
        &::before {
            top: -6px;
            transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }
        &::after {
            bottom: -6px;
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
    &.is-active {
        & .burger-btn__inner {
            transform: rotate(45deg);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-delay: 0.12s;
            &::before {
            top: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
            opacity: 0;
            }
            &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}

.search-area {
    position: relative;
    width: 29.8vw;
    &__input {
        font-family: $font-fira;
        font-size: 1.8rem;
        box-sizing: border-box;
        padding: 1.5rem 1.5rem;
        border: 1px solid rgb(237, 237, 237);
        width: 100%;
        &::placeholder {
            color: $light-text;
        }
        &:focus {
            outline: none;
            border: 1px solid $accent;
        }
    }
    &__btn {
        position: absolute;
        right: 22px;
        top: calc(50% - 8.5px);
        display: block;
        width: 17px;
        height: 18px;
        background-color: transparent;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        cursor: pointer;
    }
}

/* Main */

main {
    & .page {
        height: 100%;
        & button {
            margin: 1.5rem auto 0;
        }
    }
    margin: 3rem auto 0 auto;
    @media (min-width: $r_mob_360) {
        margin: 5rem auto 0 auto;
    }
    @media (min-width: $r_desk) {
        margin: 9.5rem auto 0 auto;
    }
    @media (min-width: $r_desk_hd) {
        margin: 10rem auto 0 auto;
    }
}

.page-title {
    margin-bottom: 3rem;
    @media (min-width: $r_mob_500) {
        margin-bottom: 5rem;
    }
    @media (min-width: $r_tab) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.scroll-menu {
    height: 100%;
    &._post {
        & .menu {
            position: unset;
        }
    }
    @media (min-width: $r_desk_1150) {
        display: flex;
        gap: 6.7rem;
    }
    @media (min-width: $r_desk_wxga) {
        gap: 9.7rem;
    }
}

.title {
    font-size: 2.7rem;
    font-family: $font-jet;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: .96px;
    margin: 0;  
    @media (min-width: $r_mob_360) {
        font-size: 3.2rem;
    }
    @media (min-width: $r_tab) {
        font-size: 4rem;
    }
    @media (min-width: $r_desk_wxga) {
        font-size: 6.4rem;
        letter-spacing: 1.8px;
    }
    &>span {
        display: block;
        font-size: 1.45rem;
        padding-bottom: 3rem;
        letter-spacing: .48px;
        text-transform: lowercase;
        @media (min-width: $r_mob_360) {
            font-size: 1.6rem;
            padding-bottom: 5rem;
        }
        @media (min-width: $r_tab) {
            font-size: 2.4rem;
            letter-spacing: 0.68px;
        }
        @media (min-width: $r_desk_wxga) {
            font-size: 4.8rem;
            letter-spacing: 1.3px;
        }
    }
}

/* Menu */

.menu {
    width: 204px;
    align-self: flex-start;
    position: sticky;
    top: 1.5rem;
    @media (max-width: $r_desk_1150) {
        display: none;
    }
    &__categories {
        font-size: 2.4rem;
        font-family: $font-jet;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        & a {
            text-decoration: none;
            color: $dark;
            box-sizing: border-box;
            border: 1px solid $dark;
            padding: 1.4rem 2.85rem;
            display: block;
            transition: .2s;
            &:hover {
                color: $light;
                background-color: $dark;
            }
            &:active, &.active {
                color: $light;
                background-color: $dark;
            }
        }
        & li {
            margin-bottom: -1px;
            @media (min-width: $r_desk_fhd) {
                margin-top: -1px;
            }
        }
        & li:last-child {
            margin-bottom: 0;
        }
    }
}

/* Articles */

.article-nav {
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    padding: 3rem 0;
    margin: 3rem 0 5rem;
    @media (min-width: $r_desk) {
        padding: 3rem 0 2.5rem;
        margin: 3rem 0 9rem;
    }
    @media (min-width: $r_desk_1150) {
        display: none;
    }
    &__title {
        font-size: 2.4rem !important;
        font-family: $font-fira !important;
        text-transform: none !important;
        margin: 0 0 3rem !important;
        @media (min-width: $r_desk) {
            letter-spacing: normal !important;
        }
    }
    &__list {
        list-style-type: none;
        font-weight: 500;
        padding-left: 0;
        margin: 0;
        @media (min-width: $r_desk) {
            font-size: 2.4rem;
        }
        & li + li {
            margin-bottom: 2rem;
        }
        & li:last-child {
            margin-bottom: 0;
        }
    }
    & ul > li > a {
        color: $dark;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: $accent;
        }
    }
    & li > ul {
        list-style-type: none;
        padding-left: 2rem;
        margin: 2rem 0;
        & li {
            margin-bottom: 1rem;
        }
        & li + li {
            margin-bottom: 1rem;
        }
        & a {
            font-weight: normal;
        }
    }

}

.article {
    @media (min-width: $r_desk_wxga) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-bottom: 3rem;
    }
    &__item {
    padding-bottom: 2rem;
    margin-bottom: 2.7rem;
    border: 1px solid $line;
    box-sizing: border-box;
        @media (min-width: $r_desk) {
            margin-bottom: 3.1rem;
        }
        @media (min-width: $r_desk_wxga) {
            margin-bottom: 0;
        }
    }
    &__thumb {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50vw;
        margin-bottom: 3rem;
        @media (min-width: $r_desk) {
            height: 447px;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    &__about {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: $r_desk) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    &__category {
        font-size: 1.8rem;
        font-weight: 500;
        border: 1px solid $accent;
        padding: 3px 9px 2px 9px;
        letter-spacing: .05rem;
        text-decoration: none;
        color: $dark;
        @media (min-width: $r_desk) {
            letter-spacing: .08rem;
        }
    }
    &__tag {
        font-family: $font-jet;
        color: $accent;
        font-size: 1.6rem;
        margin-left: 1rem;
        text-decoration: none;
        @media (min-width: $r_tab) {
            font-size: 1.8rem;
        }
    }
    &__title {
        font-size: 1.8rem;
        font-family: $font-jet;
        margin-top: 1.7rem;
        margin-bottom: 1.5rem;
        line-height: 1.2;
        @media (min-width: $r_desk) {
            font-size: 2.4rem;
        }
        & a {
            text-decoration: none;
            color: $dark;
            transition: .2s;
            &:hover {
                color: $accent;
            }
        }
    }
    &__info {
        @media (min-width: $r_desk) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: start;
        color: $light-text;
        font-size: 1.35rem;
        gap: 1rem;
        margin-top: 1.9rem;
        @media (min-width: $r_mob_360) {
            font-size: 1.6rem;
            gap: 2rem;
        }
        @media (min-width: $r_desk) {
            font-size: 2rem;
        }
    }
    &__link {
        color: $accent;
        transition: .2s;
        &:hover {
            text-decoration: none;
        }
    }
    &__comment {
        display: flex;
        align-items: center;
        gap: .5rem;
        &::before {
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            display: block;
            background-image: url(../img/comment.png);
            background-size: contain;
            @media (min-width: $r_mob_360) {
                width: 24px;
                height: 24px;
            }
        }
    }
    &__views {
        display: flex;
        align-items: center;
        gap: .5rem;
        &::before {
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            display: block;
            background-image: url(../img/views.png);
            background-size: contain;
            @media (min-width: $r_mob_360) {
                width: 24px;
                height: 24px;
            }
        }
    }
    &__time {
        display: flex;
        align-items: center;
        gap: .5rem;
        &::before {
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            display: block;
            background-image: url(../img/time.png);
            background-size: contain;
            @media (min-width: $r_mob_360) {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.author {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &__info {
        font-family: $font-fira;
    }
    &__name {
        margin: 0;
        padding-top: 0.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        & a {
            text-decoration: none;
            color: $dark;
        }
        @media (min-width: $r_desk) {
            font-size: 2rem;
        }
    }
    &__date {
        color: $light-text;
        font-size: 1.6rem;
        @media (min-width: $r_desk) {
            font-size: 1.8rem;
        }
    }
}

/* Subscribe */

.subscribe {
    border: 1px solid $accent;
    background-color: rgba($accent, .05);
    padding: 3rem 1.5rem;
    margin-bottom: 3rem;
    @media (min-width: $r_desk) {
        padding: 3rem;
    }
    &__box {
        @media (min-width: $r_desk_wxga_xxl) {
            display: flex;
        }
    }
    &__title {
        font-size: 1.8rem;
        font-family: $font-jet;
        margin-top: 0;
        margin-bottom: 2.1rem;
        line-height: 1.2;
        @media (min-width: $r_desk) {
            font-size: 2.4rem;
        }
        @media (min-width: $r_desk_wxga_xxl) {
            flex-basis: 40.5rem;
            margin: 0;
        }
    }
    &__area {
        @media (min-width: $r_desk) {
            display: flex;
            gap: 2rem;
        }
        @media (min-width: $r_desk_wxga_xxl) {
            flex-grow: 1;
            gap: 3rem;
        }
    }
    &__input {
        font-family: $font-fira;
        font-size: 1.6rem;
        display: block;
        box-sizing: border-box;
        padding: 2rem 1.4rem;
        border: 1px solid rgb(237, 237, 237);
        width: 100%;
        @media (min-width: $r_desk) {
            padding: 1rem 1.4rem;
        }
        @media (min-width: $r_desk_wxga_xxl) {
            font-size: 1.8rem;
        }
        &::placeholder {
            color: $light-text;
        }
        &:focus {
            outline: none;
            border: 1px solid $accent;
        }
        &:invalid {
            border: 1px solid rgba(221, 91, 18);
        }
    }
    &__agreement {
        color: $light-text;
        font-size: 1.4rem;
        font-family: $font-jet;
        @media (min-width: $r_desk) {
            font-size: 1.6rem;
            margin-top: 3rem;
        }
        & a {
            color: $accent;
            transition: .2s;
            &:hover {
                text-decoration: none;
            }
        }
        & p {
            margin-top: 2rem;
            margin-bottom: 0;
            line-height: 1.2;
        }
    }
    &._footer {
        padding: 5rem 3rem;
        margin-bottom: 0;
        @media (min-width: $r_desk_fhd) {
            margin-right: 5.5rem;
            padding: 5rem 3rem 2rem;
            z-index: 1;
            text-align: center;
        }
        & .subscribe__area {
            @media (min-width: $r_desk_fhd) {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                gap: 2rem;
            }
        }
        & .subscribe__input {
            @media (min-width: $r_desk_fhd) {
                padding: 1.5rem 1.4rem;
            }
        }
        & h2 {
            text-transform: uppercase;
            letter-spacing: 0.5px;
            @media (min-width: $r_desk) {
                font-size: 1.8rem;
            }
        }
        & .button {
            margin-top: 2.3rem;
            @media (min-width: $r_desk) {
                max-width: 341px;
            }
            @media (min-width: $r_desk_fhd) {
                max-width: 100%;
            }
        }
    }
}

/* Button */

.button {
    display: block;
    color: white;
    font-size: 1.4rem;
    font-family: $font-jet;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    background-color: $accent;
    border: 1px solid $accent;
    box-sizing: border-box;
    width: 100%;
    padding: 1.7rem;
    margin-top: 1.5rem;
    @media (min-width: $r_desk) {
        max-width: 314px;
        margin: 0;
    }
    @media (min-width: $r_desk_1150) {
        max-width: 281px;
        font-size: 1.8rem;
    }
}

/* Socials */

.social {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    mask: center center/100% no-repeat;
    text-decoration: none;
    background: $dark;
    transition: background-color .2s;
    @media (min-width: $r_desk) {
        width: 3rem;
        height: 3rem;
    }
    &._yt {
        mask-image: url(/img/yt.svg);
        background-size: 2.6rem;
        &:hover {
            background: #F12509;
        }
    }
    &._vk {
        mask-image: url(/img/vk.svg);
        background-size: 2.8rem;
        &:hover {
            background: #0077FF;
        }
    }
    &._tg {
        mask-image: url(/img/tg.svg);
        background-size: 2.45rem;
        &:hover {
            background: #12C0DD;
        }
    }
    &._ig {
        mask-image: url(/img/ig.svg);
        background-size: 2.63rem;
        &:hover {
            background: fuchsia;
        }
    }
}

/* Footer */

footer {
    margin-top: 4.7rem;
    @media (min-width: $r_desk) {
        margin-top: 11rem;
    }
}

.footer {
    border: 1px solid $line;
    border-top: none;
    padding-top: 2.4rem;
    @media (min-width: $r_desk) {
        padding-top: 1.2rem;
    }
    @media (min-width: $r_desk_fhd) {
        padding: 0;
    }
    &__socials {
        display: flex;
        justify-content: start;
        gap: 2.75rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: $r_desk) {
            gap: 3rem;
            padding: 0;
        }
        @media (min-width: $r_desk_fhd) {
            margin: 0 0 -1px 0;
            border-left: 1px solid $line;
            border-bottom: 1px solid $line;
            align-items: center;
            justify-content: center;
            padding-right: 7.5rem;
        }
    }
    &__head {
        @media (min-width: $r_tab) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem 2rem 1rem 2rem;
        }
    }
    &__menu {
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;
        padding: .9rem 1.5rem;
        @media (min-width: $r_tab) {
            display: flex;
            justify-content: space-between;
            padding: 3rem 2rem 5rem 2rem;
            gap: 1%;
        }
        @media (min-width: $r_desk_fhd) {
            padding: 3rem 2rem 3rem 7.5rem;
        }
    }
    &__courses {
        @media (min-width: $r_tab) {
            flex-basis: 50%;
        }
        & .footer__list {
            @media (min-width: $r_desk_fhd) {
                gap: 0 6.7rem;
            }
        }
    }
    &__marathons {
        padding-top: 1rem;
        padding-bottom: 2rem;
        @media (min-width: $r_tab) {
            flex-basis: 50%;
            padding: 0;
        }
    }
    &__title {
        color: $dark;
        font-size: 1.8rem;
        font-family: $font-jet;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        @media (min-width: $r_tab) {
            margin-bottom: 2rem;
        }
        @media (min-width: $r_desk_fhd) {
            margin-bottom: 5rem;
        }
    }
    &__list {
        & a:last-child {
            margin-bottom: 0;
        }
        @media (min-width: $r_desk_fhd) {
            display: grid;
            grid-template-columns: 25rem 1fr;
        }
    }
    &__item {
        display: block;
        text-decoration: none;
        color: $light-text;
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        @media (min-width: $r_desk) {
            letter-spacing: .96px;
            margin-bottom: 1.7rem;
        }
    }
    &__bottom {
        @media (min-width: $r_tab) {
            display: flex;
            padding-top: 0.5rem;
            letter-spacing: .96px;
        }
        @media (min-width: $r_desk_fhd) {
            padding-top: 0;
        }
    }
    &__rules {
        font-size: 1.4rem;
        color: $light-text;
        padding: 2rem 1.5rem;
        @media (min-width: $r_tab) {
            flex-basis: 50%;
            padding: 3rem;
        }
        @media (min-width: $r_desk_fhd) {
            font-size: 1.6rem;
            border-right: 1px solid $line;
            display: flex;
            align-items: center;
            padding: 3.2rem 0 5rem 7.5rem;
            gap: 9.8vw;
        }
        & span {
            display: block;
            @media (min-width: $r_tab) {
                display: inline-block;
            }
        }
        & a {
            display: block;
            color: $light-text;
            text-decoration: none;
            margin-top: 2rem;
            @media (min-width: $r_desk_fhd) {
                margin-top: 0;
            }
        }
    }
    &__dataset {
        font-size: 1.4rem;
        color: $light-text;
        padding: 0 1.5rem 2rem 1.5rem;
        @media (min-width: $r_tab) {
            flex-basis: 50%;
            padding: 5rem 3rem;
        }
        @media (min-width: $r_desk_fhd) {
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            gap: 2.5vw;
            padding: 3.2rem 5.5rem 5rem 4rem;
            margin-top: -1px;
            border-top: 1px solid $line;
            border-left: 1px solid $line;
        }
        & span {
            display: block;
            padding-bottom: 2rem;
            @media (min-width: $r_desk_fhd) {
                padding: 0;
            }
        }
    }
    &._main {
        @media (min-width: $r_desk_fhd) {
            display: none;
        }
    }
    &._desk {
        display: grid;
        grid-template-columns: 1fr 50.5rem;
        border-top: 1px solid $line;
        @media (max-width: $r_desk_fhd) {
            display: none;
        }
    }
}


/* Tag and Category */

.tag {
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 3rem 0 5rem;
        @media (min-width: $r_tab) {
            margin: 0 -1rem 0 0;
        }
    }
}

.tag-swiper {
    &__link {
        display: block;
        font-size: 2rem;
        color: $dark;
        text-decoration: none;
        padding: 1rem;
        border: 1px solid $dark;
        transition: .2s;
        @media (min-width: $r_tab) {
            padding: .8rem;
        }
        @media (min-width: $r_desk) {
            padding: 1rem;
        }
        @media (min-width: $r_desk_fhd) {
            padding: 1.5rem 3rem;
        }
        &:hover {
            color: $light;
            background-color: $accent;
            border: 1px solid $accent;
        }
        &:active, &.active {
            color: $light;
            background-color: $accent;
            border: 1px solid $accent;
            order: -999;
            margin-right: 1rem !important;
        }
    }
}

.swiper-wrapper {
    display: flex;
}

/* Search */

.search {
    &__result {
        margin: 3rem 0 3rem;
        @media (min-width: $r_tab) {
            font-size: 2.6rem;
            margin: 3rem 0 5rem;
        }
    }
}

/* Post */

.post {
    &.page {
        @media (min-width: $r_desk_1150) {
            width: 72.5vw;
        }
        @media (min-width: $r_desk_fhd) {
            width: 76.5vw;
        }
    }
    & .article {
        @media (min-width: $r_desk_wxga) {
            display: block;
        }
    }
    &__sticky {
        @media (min-width: $r_desk_1150) {
            display: flex;
            gap: 7rem;
            padding: 5rem 3rem 0 3rem;
            border: 1px solid $line;
            margin-bottom: 10rem;
        }
    }
    &__scroll {
        flex-basis: fit-content;
    }
    &__nav {
        align-self: flex-start;
        position: sticky;
        top: 1.5rem;
        padding-bottom: 5rem;
        & .article-nav {
            @media (min-width: $r_minmob) {
                display: none;
            }
            @media (min-width: $r_desk_1150) {
                display: block;
                margin: 0;
                padding: 0;
                width: 37.1rem;
                border: none;
            }
            & li > ul {
                border-left: 1px solid $line;
            }
        }
    }
    &__categories {
        display: flex;
        justify-content: space-between;
        @media (min-width: $r_tab) {
            justify-content: flex-start;
            gap: 1rem;
        }
    }
    &__body {
        & p {
            line-height: 1.5;
            margin: 3.1rem 0;
            @media (min-width: $r_desk_1150) {
                font-size: 2.6rem;
            }
        }
        & a {
            color: $accent;
            transition: .2s;
            &:hover {
                text-decoration: none;
            }
        }
        & figure {
            margin: 0 auto;
            & img {
                height: auto;
                width: 100%;
            }
        }
        & ul, ol {
            padding-left: 0;
            list-style-type: none;
            margin: 3rem 0;
            @media (min-width: $r_desk_1150) {
                font-size: 2.6rem;
            }
        }
        & ul > li + li, ol li + li {
            margin-top: 0;
        }
        & ul > li, ol > li {
            position: relative;
            padding-left: 2.3rem;
            line-height: 1.5;
        }
        & ul > li::before {
            content: '';
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            background-color: $accent;
            position: absolute;
            top: .9rem;
            left: 0;
            @media (min-width: $r_desk_fhd) {
                top: 1.5rem;
                left: -2px;
            }
        }
        & ol {
            counter-reset: item;
        }
        & ol > li::before {
            content: counter(item)'.';
            counter-increment: item;
            color: $accent;
            font-size: 1.8rem;
            line-height: 1.2;
            font-weight: 700;
            position: absolute;
            top: 4px;
            left: 0;
            @media (min-width: $r_desk_fhd) {
                top: 1rem;
                left: -2px;
            }
        }
        & blockquote {
            margin: 0;
            padding: 3rem;
            border-left: 1px solid $accent;
            display: flex;
            gap: 1rem;
            line-height: 1.4;
            @media (min-width: $r_desk) {
                gap: 1.5rem;
            }
            @media (min-width: $r_desk_1150) {
                font-size: 2.6rem;
            }
        }
        & blockquote::before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            flex-basis: 5rem;
            height: 24px;
            background-image: url(../img/quote.png);
            background-size: cover;
            @media (min-width: $r_mob_400) {
                width: 24px;
                background-size: contain;
            }
            @media (min-width: $r_desk) {
                flex-basis: 2rem;
                background-size: cover;
            }
        }
    }
    &__video {
        position: relative;
        padding-bottom: 56.25%;
        margin-top: 3.2rem;
        height: 0;
        overflow: hidden;
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.main-article {
    &__thumb {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50vw;
        margin: 5rem 0;
        @media (min-width: $r_desk_1150) {
            height: 25vw;
        }
        @media (min-width: $r_desk_fhd) {
            height: 29.75vw;
        }
    }
    & .title {
        line-height: 1.2;
        @media (min-width: $r_desk) {
            line-height: 1.1;
            font-size: 4.8rem;
            letter-spacing: 0.14rem;
        }
    }
    & .article__about {
        padding: 0;
        margin: 5rem 0;
    }
    & .article__info {
        margin-top: 3rem;
        @media (min-width: $r_desk) {
            align-items: end;
        }
    }
    & .author__name {
        padding: 0;
        margin: 0;
        font-size: 2rem !important;
        font-family: $font-fira;
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
    }
    & .author__date {
        font-size: 1.8rem;
    }
    & .article__footer {
        margin-top: 1rem;
        gap: 2rem;
        font-size: 2rem;
    }
    & h2,h3,h4 {
        font-family: $font-jet;
        text-transform: uppercase;
        letter-spacing: .05rem;
    }
    & h2 {
        font-size: 2.4rem;
        margin: 4.75rem 0 0;
        @media (min-width: $r_desk_1150) {
            font-size: 3.2rem;
        }
    }
    & h3 {
        font-size: 2rem;
        margin: 3.1rem 0 0;
        @media (min-width: $r_desk_1150) {
            font-size: 2.4rem;
        }
    }
    & h4 {
        font-size: 1.8rem;
        margin: 3.5rem 0 0;
        @media (min-width: $r_desk_1150) {
            font-size: 2rem;
        }
    }
}

.student {
    padding: 2rem;
    margin: 3rem 0;
    border: 1px solid $accent;
    background-color: rgba($accent, .05);
    // display: none;
    @media (min-width: $r_desk_1150) {
        padding: 3rem;
        margin: 5rem 0;
        font-size: 2.6rem;
    }
}

.advice {
    border: 1px solid $accent;
    background-color: rgba($accent, .05);
    padding: 3rem 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @media (min-width: $r_desk) {
        padding: 3rem 3rem 2rem;
        display: flex;
    }
    @media (min-width: $r_desk_fhd) {
        padding: 3rem 3rem 0;
    }
    &__title {
        font-size: 2rem !important;
        font-family: $font-jet;
        text-transform: uppercase;
        letter-spacing: .06rem;
        margin: 0 !important;
        @media (min-width: $r_desk_1150) {
            font-size: 2.4rem !important;
        }
    }
    & p {
        margin: 3rem 0;
    }
}

.socials {
    border: 1px solid $accent;
    background-color: rgba($accent, .05);
    padding: 1.5rem;
    margin: 5rem 0;
    @media (min-width: $r_desk) {
        padding: 3rem;
    }
    &__title {
        font-size: 2rem;
        font-family: $font-jet;
        text-transform: uppercase;
        letter-spacing: .06rem;
        margin: 0;
        line-height: 1.5;
        @media (min-width: $r_desk_1150) {
            font-size: 2.4rem;
        }
        @media (min-width: $r_desk_fhd) {
            letter-spacing: 0.065rem;
        }
    }
    &__list {
        margin: 3rem 0 0;
        @media (min-width: $r_desk) {
            display: flex;
            gap: 3rem;
        }
        @media (min-width: $r_desk_1150) {
            font-size: 2.4rem;
        }
    }
    &__list a {
        color: $accent;
        display: flex;
        gap: 1rem;
        align-items: center;
        transition: .2s;
        & svg {
            fill: $dark;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__list a + a {
        margin-top: 3rem;
        @media (min-width: $r_desk) {
            margin-top: 0;
        }
    }
    &__yt {
        &:hover {
            & .fill {
                fill: #F12509;
            }
        }
    }
    &__vk {
        &:hover {
            & .fill {
                fill: #0077FF;
            }
        }
    }
    &__tg {
        &:hover {
            & .fill {
                fill: #12C0DD;
            }
        }
    }
}

.comments-form {
    border: 1px solid $line;
    padding: 2rem;
    margin-bottom: 5rem;
    @media (min-width: $r_desk) {
        padding: 3rem;
        margin: 9rem 0;
    }
    @media (min-width: $r_desk_1150) {
        margin: 10rem 0;
    }
    @media (min-width: $r_desk_fhd) {
        padding: 5rem;
    }
    &__areas {
        @media (min-width: $r_desk_1150) {
            display: flex;
            gap: 3rem;
        }
    }
    &__inputs {
        flex-grow: 1;
    }
    &__textarea, &__input {
        padding: 2rem;
        font-family: $font-fira;
        font-size: 1.8rem;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $line;
        margin-bottom: 2rem;
        @media (min-width: $r_desk) {
            padding: 3rem;
            margin-bottom: 3rem;
        }
        @media (min-width: $r_desk_1150) {
            font-size: 2rem;
        }
        &::placeholder {
            color: $light-text;
        }
        &:focus {
            outline: none;
            border: 1px solid $accent;
        }
    }
    &__textarea {
        min-height: 20.2rem;
        resize: none;
        @media (min-width: $r_desk_1150) {
            flex-basis: 60rem;
        }
    }
    & .button {
        @media (min-width: $r_desk) {
            width: 30.7rem;
        }
        @media (min-width: $r_desk_1150) {
            font-size: 1.8rem;
        }
        & a {
            color: $light;
            text-decoration: none;
        }
    }
}

.comments {
    &__title {
        font-family: $font-jet;
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        margin-bottom: 3rem;
        @media (min-width: $r_desk_1150) {
            font-size: 3.2rem;
        }
    }
    & .author__name {
        padding: 0;
        font-size: 2rem;
    }
    & .author__date {
        font-size: 1.8rem;
    }
    &__item {
        border: 1px solid $line;
        padding: 1.5rem;
        margin-bottom: 2rem;
        @media (min-width: $r_desk) {
            padding: 3rem;
        }
        & p {
            font-size: 1.8rem;
            line-height: 1.5;
            margin-bottom: 2.1rem;
            @media (min-width: $r_desk_1150) {
                font-size: 2.6rem;
                margin-top: 2rem;
            }
        }
        &.answer {
            @media (min-width: $r_tab) {
                margin-left: 7rem;
            }
            @media (min-width: $r_desk_fhd) {
                margin-left: 5rem;
            }
        }
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__functions {
        font-size: 1.6rem;
        display: flex;
        @media (min-width: $r_desk_1150) {
            font-size: 2rem;
        }
        &._close-comments {
            justify-content: space-between;
            align-items: center;
        }
        &._open-comments {
            flex-direction: column;
            gap: 2rem;
            @media (min-width: $r_desk) {
                flex-direction: inherit;
                justify-content: space-between;
            }
        }
        & a {
            color: $light-text;
            text-decoration: none;
        }
        & .replay {
            display: flex;
            align-items: center;
            gap: .5rem;
            &::after {
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                width: 24px;
                height: 24px;
                display: block;
                background-image: url(../img/replay.png);
                background-size: contain;
            }
        }
        & .close-btn {
            display: flex;
            align-items: center;
            gap: .5rem;
            &::after {
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                width: 24px;
                height: 24px;
                display: block;
                background-image: url(../img/chevron-up.png);
                background-size: contain;
            }
        }
        & .open-btn {
            display: flex;
            align-items: center;
            gap: .5rem;
            &::after {
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                width: 24px;
                height: 24px;
                display: block;
                background-image: url(../img/chevron-down.png);
                background-size: contain;
            }
        }
    }

}

/* Swiper */

.recommend-swiper {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        & h2 {
            font-family: $font-jet;
            font-size: 2.4rem;
            text-transform: uppercase;
            letter-spacing: .07rem;
            margin: 0;
            @media (min-width: $r_desk_1150) {
                font-size: 3.2rem;
            }
        }
    }
    &__nav {
        position: relative;
        width: 4rem;
        height: 3.1rem;
    }
    &__next, &__prev {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        margin: 0;
    }
    &__prev {
        left: -3.5rem;
    }
    &__next::before, &__prev::before {
        content: '';
        background-image: url(../img/prev.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 3rem;
        height: 3rem;
    }
    &__next::before {
        transform: rotate(180deg);
    }
    & .swiper-wrapper {
        max-height: 94rem;
    }
    &__item {
        height: auto;
        flex-basis: 100%;
        @media (min-width: $r_tab) {
            flex-basis: inherit;
        }
    }
    & .article__info {
        @media (min-width: $r_desk) {
            display: block;
        }
        @media (min-width: $r_desk_1150) {
            display: flex;
        }
    }
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

/* Overlay Menu and Search */

.overlay {
    position: absolute;
    background-color: $light;
    top: 9.1rem;
    right: -100%;
    width: 100%;
    opacity: 0;
    box-shadow: none;
    transition: all .5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
    &.active {
        right: 0;
        opacity: 1;
        box-shadow: 0 0.9rem 1.9rem rgba($dark, 0.2);
    }
    &._search {
        top: 0;
    }
    @media (min-width: $r_desk_1150) {
        display: none;
    }
}

.modal {
    padding: 5rem 2rem;
    @media (min-width: $r_tab) {
        padding: 10rem 5rem;
        border-left: 1px solid $line;
        max-width: 27.5rem;
        margin-left: auto;
    }
    &__nav {
        padding-left: 0;
        list-style-type: none;
        font-size: 2.4rem;
        margin-top: 0;
        margin-bottom: 5rem;
        & li > a {
            text-decoration: none;
            color: $dark;
            transition: .2s;
            &:hover {
                color: $accent;
            }
        }
        & li {
            margin-bottom: 3rem;
        }
        & li:last-child {
            margin-bottom: 0;
        }
    }
}

.modal-search {
    padding: 1.75rem;
    @media (min-width: $r_desk) {
        padding: 2.45rem;
    }
    & .search-area {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        &__btn {
            right: 55px;
        }
        &__close {
            cursor: pointer;
            background-image: url(../img/close.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: cover;
            border: none;
            display: block;
            width: 20px;
            height: 20px;
        }
    }
}

/* Error 404 */

.error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $accent;
    background-color: rgba($accent, .05);
    padding: 3rem;
    margin: auto 0;
    @media (min-width: $r_tab) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;
    }
    &__text {
        @media (min-width: $r_tab) {
            width: 39vw;
        }
    }
    & h1 {
        font-family: $font-jet;
        font-size: 3.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        letter-spacing: .96px;
        margin: 0 0 3rem;
        @media (min-width: $r_tab) {
            font-size: 4rem;
        }
        @media (min-width: $r_desk_1150) {
            font-size: 4.8rem;
        }
    }
    & p {
        margin: 0;
        @media (min-width: $r_tab) {
            font-size: 2.4rem;
        }
        @media (min-width: $r_desk_fhd) {
            font-size: 2.6rem;
        }
    }
    & a {
        display: block;
        color: $light;
        font-size: 1.4rem;
        font-family: $font-jet;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        letter-spacing: 0.42px;
        background-color: $accent;
        border: 1px solid $accent;
        box-sizing: border-box;
        max-width: 34.7rem;
        padding: 1.7rem;
        margin-top: 3rem;
        @media (min-width: $r_tab) {
            font-size: 1.6rem;
        }
        @media (min-width: $r_desk_fhd) {
            font-size: 1.8rem;
        }
    }
    &__img {
        margin: 3rem auto 0;
        @media (min-width: $r_tab) {
            margin: 0;
        }
    }
    & img {
        width: 74vw;
        height: auto;
        @media (min-width: $r_tab) {
            max-width: 33.4rem;
        }
    }
}

